<h3><%= @destination.name %></h3>

<p><%= @destination.description %></p>


<% if Helpers.current_user(session) == @destination.user %>
  <a href="/destinations/<%=@destination.id%>/edit">Edit Destination</a>
  <form action="/destinations/<%=@destination.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<%end%> 